body {
}
#cabecera {
     width: 960px;
    height:155px;
    background-image:url("/Web3141/Images/960-150.png");
    
    background-attachment:inherit;
    color:#ff6a00;
    box-shadow: 0px 0px 5px #000 inset ;
    margin:auto;
    z-index:3;

    
}

#contenidocabecera {
    width: 960px;
    margin: auto;
    height: 150px;

}

#barrahorizontal {
    height:30px;
    background-color:#3a4bd4;
    border-radius:0px 0px 10px 10px;
    box-shadow:0px 0px 5px #000 inset;
    text-align:center;
    
 }

    #barrahorizontal > ul 
    {
        list-style-type:none;
        padding:0;
        margin:0;
    }
    #barrahorizontal  li {
    display:inline-block;
    padding:5px;
    cursor:pointer;
    background-color:#fff;
    color:#f5d529;
    box-shadow:0px 0px 20px inset;
    }
        #barrahorizontal li > a 
        {
            display:block;
            color:#3a4bd4;
            text-decoration:none;
            width:100px;
           

        } 



#logotipo {
    width:25%;
    float:left;
    text-align:center;
  
}

    #logotipo > img {
    box-shadow:0px 0px 30px 0px #000 ;
    border-radius:5px 5px 5px 5px;
    }

#titulo {
width:75%;
float:left;
text-shadow:2px 2px 5px #000;
  
}
    #titulo > h1 {
    margin-top:20px;
  
    }
    #titulo > h2 {
    margin-bottom:0;
    color:#f00;
    }
 
   

#bajo {
width:960px;
margin:auto;
background-color:#3a4bd4;
border-radius:0px 0px 20px 20px;
overflow:auto;
   
}

#columnaizquierda {
float:left;
width:20%;
min-height:510px;
z-index:3;
box-shadow:0px 0px 5px inset;

 
  

}
#columnaderecha {
    float: left;
    width: 20%;
    min-height: 510px;
    z-index: 3;
    box-shadow: 0px 0px 5px inset;
}
#menucontextual {
    list-style-type:none;
    padding:0;
    margin:0;
    margin-top:0;
}
    #menucontextual > li { 

        padding:10px;
        text-align:center;
        background-color:#fff;
        border:inherit outset #03025f;
        box-shadow: 0px 0px 20px #000 inset;
    }
        #menucontextual > li > a {
            text-decoration:none;
            color:#3a4bd4;
        }




#columnacentro {
    float:left;
    width:60%;
    min-height:510px;
    background-color:#fff;
     box-shadow:0px 0px 5px #000 inset;
     z-index:0;
}


#pie {
height:20px;
background-color:#3a4bd4;
border-radius:0px 0px 20px 20px;
clear:both;
 box-shadow:0px 0px 5px #000 inset;
 color:#fff;
 text-align:center;
 padding-top:0px;
}