body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0;
  background-color: #1b2127;
}
#cabecera {
  background-color: #1b2127;
  width: 100%;
  height: 166px;
  /*     background-image:url("http://eet3141.ddns.net/Web3141/Images/960-150.png"); */
  object-fit: cover;
  background-attachment: inherit;
  color: #c8dfe3;
  /*    box-shadow: 0px 0px 5px #000 inset ; */
  margin: auto;
  z-index: 3;
}
#primeraFila div img, .segundaFila div img{
  border-radius:20px;
  border:outset;
  margin:1px;
  width:120px;
  height:65px;
}
#contenidocabecera {
  width: 100%;
  margin: auto;
  height: 100%;
}

.barrahorizontal {
  height: 100%;
  /*     border-radius:0px 0px 10px 10px;
    box-shadow:0px 0px 5px #000 inset; */
  display: flex;
  width: 100%;
}

.barrahorizontal > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  font-weight:400;
}

.barrahorizontal li {
  border-radius: 5px;
  display: inline-block;
 
  cursor: pointer;
  /* box-shadow: 0px 0px 20px inset; */
}

.barrahorizontal li a {
  display: block;
  color:#c8dfe3;
  text-decoration: none;
  padding: 5px 20px;
}
#inicioLista{
  padding-left: 0;
}
#logotipo {
  width: 15%;
  float: left;
  text-align: center;
}
.logoEscolar {
  margin-left: 0;
  margin-bottom: 23px;
  margin-top: 20px;
}
#titulo {
  font-family: "Noto Serif", serif;
  width: 75%;
  float: left;
  /* text-shadow: 2px 2px 5px #000; */
}
#titulo > h1 {
  margin-top: 45px;
  margin-bottom: 0;
  color: white;
  font-weight: 400;
}
#titulo i h2 {
  margin: 0;
  color: rgb(120 183 251);
  font-weight: 400;
  font-size: 23px;
}
.hero {
  width: 85%;
  height: 45px;
  display: flex;
}
.imageContainer,
.imageContainer img {
  display: block;
  margin: 0;
  object-fit: cover;
  height: 100%;
  border-radius: 10px;
}
.imageContainer {
  width: 85%;
}
.imageContainer img {
  width: 100%;
}

.espacio {
  width: 100%;
  height: 20px;
  background-color: #1b2127;
}

#bajo {
  width: fit-content;
  margin: auto;
  background-color: #1b2127;
  /* border-radius:0px 0px 20px 20px; */
  overflow: auto;
}

/* #columnaizquierda {
float:left;
width:20%;
min-height:510px;
z-index:3;
box-shadow:0px 0px 5px inset;
} */
#columnaderecha {
  float: left;
  width: 20%;
  min-height: 510px;
  z-index: 3;
  /* box-shadow: 0px 0px 5px inset; */
}

#menucontextual {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 0;
}
#menucontextual > li {
  padding: 10px;
  text-align: center;
  background-color: #fff;
  border: inherit outset #03025f;
  box-shadow: 0px 0px 20px #000 inset;
}
#menucontextual > li > a {
  text-decoration: none;
  color: #3a4bd4;
}

#columnacentro {
  float: left;
  width: 80%;
  min-height: 510px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000 inset;
  z-index: 0;
}
#columnacentro div img{
  width:555px;
  z-index:-2;
  border-image-outset:2;
}
.Prensa {
  text-align: center;
  background:white;
}

#pie {
  height: 20px;
  background-color: #1b2127;
  /* border-radius:0px 0px 20px 20px; */
  clear: both;
  /* box-shadow:0px 0px 5px #000 inset; */
  color: #fff;
  text-align: center;
  padding-top: 0px;
  position: static;
}
body::-webkit-scrollbar {
  width: 7px;
}
body::-webkit-scrollbar-thumb {
  background-color: #c8dfe3;
  border-radius: 5px;
}
.Prensa::-webkit-scrollbar {
  width: 7px;
}
.Prensa::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 5px;
}
.Autoridades{
  background: white;
  padding:20px 50px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(4,1fr); */
}
.Autoridades div{
  height: 314px;
  width:310px;
  text-align: center;
  margin:25px 0;
}
.Autoridades div figure img{
  width: 200px;
  height: 200px;
  box-shadow: 0px 3px 10px -4px rgba(128,128,128,1);
}
.descripcion h3{
  font-family: "Roboto Slab";
  margin-bottom: 15px;
  color:#008a83;
}
.Autoridades .descripcion{
  width: 100%;
  height:53px;
}
.descripcion h5{
  margin-bottom: 0;
  margin-top: 0;
  font-size:14px;
  color:#777777;
  font-weight: 400;
}
@media screen and (max-width:1024px){
  .Autoridades{
    padding:20px 15px;}
}
@media screen and (max-width:880px){
  #cabecera{
    height: 222px;
  }
  #logotipo{
    width:20%;
  }
  .hero{
    width: 100%;
  }
  .barrahorizontal ul{
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  #logotipo{
    width: 22%;
  }
  #bajo {
    width: 100%;
  }
  #columnacentro {
    float: none;
    width: 100%;
  }
  #columnaderecha {
    width: 100%;
    display: flex;
    float: initial;
  }
  .Prensa img {
    width: 100%;
  }
  #columnaderecha {
    min-height: auto;
  }
  #primeraFila,
  .segundaFila {
    display: flex;
    width: 50%;
  }
  #columnaderecha {
    display: block;
    padding-top: 10px;
  }
  #primeraFila,
  .segundaFila {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .hero {
    display: block;
    height: 5em;
    width:100%;
  }
  #inicioLista{
    padding-left:25px;
  }
  .barrahorizontal,
  .imageContainer {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  ul {
    width: 100%;
    justify-content: space-evenly;
  }
  #cabecera{
    height: 200px;
  }
}
@media screen and (max-width:680px){
  .barrahorizontal li a{
    padding:5px 15px;
  }
}
@media screen and (max-width:660px){
.hero{
  height:7em;
}
.Autoridades div{
  margin:0;
}
}
@media screen and (max-width:570px){
  .barrahorizontal li a{
    padding:5px 5px;
  }
}
@media screen and (max-width:520px){
  #cabecera{
    height:240px;
  }
  .hero{
    height:9em;
  }
@media screen and (max-width: 480px) {
  #cabecera {
    height: 288px;
  }
  #titulo,
  #logotipo {
    width: 100%;
    text-align: center;
  }
  .hero{
    height:7em;
  }
  .barrahorizontal li a{
    padding:5px 30px;
  }
  #cabecera{
    height: 345px;
  }
  #titulo > h1{
    margin-top:0;
  }
}
@media screen and (max-width:390px){
  .hero{
    height:10em;
  }
  #cabecera{
    height:385px
  }
  .barrahorizontal li a{
    padding:5px 10px
  }
}
@media screen and (max-width:330px){
  .hero{
    height:12em;
  }
}
@media screen and (max-width:255px){
  #cabecera{
    height:415px;
  }
}
@media screen and (max-width:245px){
  #cabecera{
    height:455px;
  }
}
}